.footer-style {
  background-color: rgb(0, 0, 0);
}
.social-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
}
.social-links > a{
  border-radius: 5px;
  border: 1px solid #3a342e;
  padding: 10px;
  text-align: center;
}
.home-icon::after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../imgs/home.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.github-icon::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../imgs/github.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.linkedin-icon::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../imgs/linkedin.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.face-icon::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../imgs/facebook.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.instagram-icon::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../imgs/instagram.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.arrow-icon::after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../imgs/arrow-top.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.container-pages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.formation-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.about-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.formation-section > img{
  width: 300px;
  height: 300px;
}
.about-section > img{
  width: 300px;
  height: 300px;
}
.container-pages>h3,
a {
  margin: 10px;
}
.container-pages>a {
  padding: 15px;
  border: 1px solid #3a342e;
}
.container-pages>h3 {
  border-bottom: 1px solid #deb887;
  padding: 15px;
}
.container-pages>a:hover {
  background-color: #deb887;
  color: rgb(59, 45, 28);
}
.container-rights {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}
.container-rights > a{
  border-radius: 5px;
  border: 1px solid #3a342e;
  padding: 10px;
}