/* Responsividade em telas grandes */
@media screen and (min-width: 1025px) {

  .container,
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu>a {
    background-color: rgb(230, 213, 193);
    color: black;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    margin: 1px;
  }

  header>div {
    margin: 15px;
  }

  nav {
    margin: 15px;
  }

  nav>a {
    padding: 10px;
  }

  .main-site {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: 1px solid #3a342e;
    padding: 30px 40px;
    max-width: 1800px;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 10px;
  }

  .formation-section, .about-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .site {
    border: 1px solid #3a342e;
    padding: 20px;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 15px;
    text-align: center;
  }

  .site h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .site p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #b5a89a;
  }
  .card-about {
    text-align: center;
  }

}